.hex {
  stroke-width: 4px;
}

.hex-interactive {
  cursor: pointer;
  pointer-events: fill;
}

.hex-notMuted {
  stroke: var(--relic-primary-color);
}

.hex-muted {
  stroke: var(--relic-muted-color);
}

.dice {
  pointer-events: none;
  fill: var(--relic-primary-color);
  stroke: var(--relic-primary-color);
  stroke-width: 2px;
}
