.coloredCanvas {
  pointer-events: none;
}

.colorWheelHex {
  pointer-events: fill;
  cursor: pointer;
  fill: var(--color);

  &:hover {
    fill: var(--hoverColor);
    stroke: whitesmoke;
    stroke-width: 0.5px;
  }
}

.selected {
  fill: var(--color);
  stroke: whitesmoke;
  stroke-width: 0.5px;
}

.check {
  fill: var(--textColor, whitesmoke);
}
