.grid {
  position: relative;
  --item-width: 60px;
  --item-height: calc(0.5 * sqrt(3) * var(--item-width));
  --gap: 10px;
}

.field {
  margin: 0;
  width: calc(1.65 * var(--item-width));
  filter: drop-shadow(0 0 1px whitesmoke);
}

.mecatol {
  position: absolute;
  top: 38px;
  left: 36px;
  width: 80%;
  filter: drop-shadow(0 0 15px hsl(200, 90%, 50%));
  -webkit-user-select: none;
  user-select: none;
}
