.content {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  height: 100%;
}

.title {
  color: #c8e1f9;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9em;
  line-height: 0.8;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}
