.main {
  margin: 0;
  position: relative;
  pointer-events: none;
}

.canvas {
  height: 50px;
}

.content {
  position: absolute;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
  height: 52px;
}
