.main {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  width: 266px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.content {
  pointer-events: none;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 4px 8px;
  --content-base-height: 216px;
}

.hex {
  stroke-width: 5px;
}

.colorFill {
  fill: var(--color);
}

.defaultContent {
  color: white;
}

.coloredContent {
  color: var(--textColor, white);
}
