.hex {
  stroke-width: 4px;
}

.hex-interactive {
  cursor: pointer;
  pointer-events: fill;
}

.hex-notStriped {
  stroke: var(--relic-primary-color);
  fill: var(--color);
}

.hex-striped {
  stroke: var(--relic-muted-color);
  fill: var(--stripesUrl);
}

.content {
  position: absolute;
  top: 12px;
  left: 9.8%;
  transform: translateX(-50%);

  font-family: var(--secondary-font-family);
  font-size: 1.4em;
  color: var(--textColor, var(--relic-primary-color));
  pointer-events: none;
}
