.hex {
  pointer-events: fill;
  stroke: var(--relic-primary-color);
  stroke-width: 6px;
}

.hex-interactive {
  cursor: pointer;
}

.hex-colored {
  fill: var(--color);
}

.hex-notColored {
  fill: var(--relic-background-color);
}

.point {
  position: absolute;
  top: 11px;
  right: 11%;
  transform: translateX(50%);
  font-family: var(--secondary-font-family);
  font-size: 1.5em;
  pointer-events: none;
}

.point-colored {
  color: var(--textColor);
}

.point-notColored {
  color: var(--relic-primary-color);
}
