.hex {
  pointer-events: fill;
  stroke: #f7f2c8;
  stroke-width: 6px;
}

.hex-interactive {
  cursor: pointer;
}

.hex-colored {
  fill: var(--color);
}

.hex-notColored {
  fill: #333;
}

.point {
  position: absolute;
  top: 11px;
  right: 11%;
    transform: translateX(50%);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  pointer-events: none;
}

.point-colored {
  color: var(--textColor);
}

.point-notColored {
  color: #f7f2c8;
}
