.extendedHex {
  stroke-width: 6px;
  fill: var(--relic-background-color);
}

.extendedHex-interactive {
  cursor: pointer;
}

.extendedHex-notMuted {
  stroke: var(--relic-primary-color);
}

.extendedHex-muted {
  stroke: var(--relic-muted-color);
}

.extendedHex-redpainted {
  fill: var(--redpainted-color);
}

.title {
  position: absolute;
  top: 0;
  left: 45px;
  width: calc(100% - 94px);
  height: 52px;
  display: flex;
  align-items: center;
  pointer-events: none;

  font-family: var(--secondary-font-family);
  font-size: 0.9em;
  line-height: 0.9;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

.title-alignLeft {
  justify-content: left;
  text-align: left;
}

.title-centered {
  justify-content: center;
  text-align: center;
}

.title-notMuted {
  color: var(--relic-primary-color);
}

.title-muted {
  color: var(--relic-muted-color);
}
