.canvas {
  height: 125%;
  pointer-events: none;
}

.hex {
  stroke: whitesmoke;
  stroke-width: 5px;
  cursor: pointer;
  pointer-events: fill;
}

.active {
  fill: hsl(115, 97%, 35%);
  &:hover {
    fill: hsl(115, 97%, 45%);
  }
}

.inactive {
  fill: var(--ui-blue);
  &:hover {
    fill: var(--ui-blue-hover);
  }
}
