.main {
  position: relative;
  text-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;

  /* background-color: black; */
  background-image: url("../assets/pexels-kaip-1341279.jpg");
  background-size: cover;
  background-position: 0%;
  background-attachment: fixed;
}
