.total {
  -webkit-user-select: none;
  user-select: none;
}

.canvas {
  height: 80px;
  pointer-events: none;
}

.hex {
  stroke: whitesmoke;
  stroke-width: 5px;
  cursor: pointer;
  pointer-events: fill;
}

.hex-active {
  fill: hsl(115, 97%, 35%);
  &:hover {
    fill: hsl(115, 97%, 45%);
  }
}

.hex-inactive {
  fill: var(--ui-blue);
  &:hover {
    fill: var(--ui-blue-hover);
  }
}

.burger {
  stroke: whitesmoke;
}

.overlay {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: auto;
  padding: 30px;
  background: var(--modal-background);
  border-radius: 8px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
}
