@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  /* Firefox */
  scrollbar-color: #222 #888;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --ui-blue: hsl(240, 33%, 38%);
  --ui-blue-hover: hsl(240, 33%, 48%);

  --modal-background: hsla(222, 20%, 12%, 0.85);
  --modal-scroller-background: hsl(240, 33%, 38%);

  --redpainted-color: #a04040;
  --secondary-font-family: "Roboto Condensed", sans-serif;

  --relic-primary-color: #f7f2c8;
  --relic-muted-color: #807a4d;
  --relic-background-color: #333333;

  --agenda-primary-color: #8cc1f2;
  --law-primary-color: #8cc1f2;
  --directive-primary-color: #c8e1f9;
  --agenda-muted-color: #4d6780;
  --agenda-background-color: #333333;
}
